@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background-color: #0B0B0B;
    --font-color: #E0E0D6;
}

body {
    background-color: var(--background-color);
    color: var(--font-color);
    display: flex;
    justify-content: center;
    align-items: center;
}


@font-face {
    font-family: 'Red Hat Regular';
    src: url('../fonts/RedHatDisplay-Regular.otf') format('opentype');
}

@font-face {
    font-family: 'Red Hat Bold';
    src: url('../fonts/RedHatDisplay-Bold.otf') format('opentype');
}

@font-face {
    font-family: 'Clash Grotesk Semibold';
    src: url('../fonts//ClashGrotesk-Semibold.otf') format('opentype');
}

@font-face {
    font-family: 'Clash Grotesk Bold';
    src: url('../fonts/ClashGrotesk-Bold.otf') format('opentype');
}